---
import Layout from "../layouts/Layout.astro"
import Clock from "../components/clock.tsx"

interface GempaProps {
  Tanggal: string
  Jam: string
  Lintang: string
  Bujur: string
  Kedalaman: string
  Magnitudo: string
  Wilayah: string
}

const response = await fetch("https://data.bmkg.go.id/DataMKG/TEWS/gempadirasakan.json")
const data = await response.json()
---

<Layout title="Home Page">
  <div>
    <h1>Daftar Gempa Dirasakan</h1>
    <Clock client:load />
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Jam</th>
          <th>Lintang</th>
          <th>Bujur</th>
          <th>Kedalaman</th>
          <th>Magnitudo</th>
          <th>Wilayah</th>
        </tr>
      </thead>
      <tbody>
        {
          data.Infogempa.gempa.map((gempa: GempaProps, index: number) => (
            <tr>
              <td>{index + 1}</td>
              <td>{gempa.Jam}</td>
              <td>{gempa.Lintang}</td>
              <td>{gempa.Bujur}</td>
              <td>{gempa.Kedalaman}</td>
              <td>{gempa.Magnitudo}</td>
              <td>{gempa.Wilayah}</td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</Layout>
